<footer>
  <div class="grid contain">
    <div class="col-12 grid align-items-center" routerLink="/">
      <img class="col-3 cursor-pointer" src="../../../assets/ic_logo_b.png" alt="" style="min-width: 50px;;width: 100px;" >
      <h1 class="col-6 cursor-pointer select-none">InfiniteCart</h1>
    </div>
  </div>
  <div class="grid contain justify-content-between align-items-center ">
    <div class="col-12 lg:col-9">
      <p class="col p-0">Subscribe to our newSletter for regular updates about Offers, Coupons & more</p>
      <div class="grid col-12 lg:col-10">
        <input class="col-8 w-8" placeholder="Your Email Address" type="text" pInputText [(ngModel)]="value" />
        <div  style="color: var(--primary);" class="col-4 btn">Subscribe</div>
      </div>
    </div>
    <div class="col-12 lg:col-3">
      <div class="grid flex-column">
        <p class="col font-bold">FOLLOW US</p>
        <div class="grid flex-row align-items-center gap-1" >
          <div class="border-circle col-3 md:col-1" style="width: 40px;height: 40px;">
            <i class="fa-brands fa-facebook text-5xl w-full" style="color: rgb(0, 34, 255);"></i>
          </div>
          <div class="border-circle col-3 md:col-1" style="width: 40px;height: 40px; background-color: rgb(0, 157, 255);">
            <i class="fa-brands fa-twitter text-3xl" style="color: white;"></i>
          </div>

          <div class="border-circle col-3 md:col-1" style="width: 40px;height: 40px; background-color: red;">
            <i class="fa-brands fa-youtube text-3xl" style="color: white;"></i>
          </div>
          <div class="border-circle flex col-3 md:col-1" style="width: 40px;height: 40px; background-color: rgb(0, 60, 255);">
            <i class="fa-brands fa-linkedin-in text-3xl" style="color: white;"></i>
          </div>
        </div>
      </div>
      <div class="grid flex-column m-0 mt-4">
        <p class="col font-bold">MOBILE APPS</p>
        <div class="col-6 lg:col align-items-center p-0">
          <img src="../../../assets/footer/apps.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div style="width: 80%; margin: auto;">
    <hr>
  </div>
  <div class="grid contain font-bold">
    <div class="col-8">
      <h2 class="text-lg px-6">InfinitCart ⓒ 2023</h2>
    </div>
    <div class="col-4 grid gap-2">
      <a href="https://www.mastercard.us/en-us.html" class="col-2" style="width: 70px;">
        <img src="../../../assets/footer/master.png" alt="">
      </a>
      <a href="https://paymentservices.amazon.com/" class="col-2" style="width: 70px;">
          <img src="../../../assets/footer/amazon.png" alt="">
      </a>
      <a href="https://paymentservices.amazon.com/" class="col-2" style="width: 70px;">
        <img src="../../../assets/footer/paypal.png" alt="">
      </a>
      <a href="https://www.americanexpress.com/" class="col-2" style="width: 70px;">
        <img src="../../../assets/footer/express.png" alt="">
      </a>
    </div>
  </div>
</footer>
