<div class="firstNav bg-gray-900">
  <div class="contain">
    <div class="grid align-items-center lg:gap-3">
      <div class="col-3 lg:col-4 grid align-items-center" routerLink="/">
        <img class="col-1 lg:col-3 cursor-pointer" src="../../../assets/ic_logo.png" alt="" style="min-width: 50px;;width: 100px;">
        <h1 class="hidden lg:block lg:col-6 cursor-pointer select-none" style="color: var(--primary-color-text);">InfiniteCart</h1>
      </div>

      <div class="move_icon col-6 lg:col-4 grid mx-auto ">
        <input class="col-11" placeholder="I am Shopping for" type="text" pInputText [(ngModel)]="value" />
        <i style="color: var(--primary-color);" class="icon fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="col-2 lg:col-3">
        <a routerLink="/profile" class="grid lg:justify-content-end align-items-center">
          <p class="mr-2 text-xl fw-bold" style="color: var(--primary-color-text);">Hello, {{user}}</p>
          <p-avatar size="large" shape="circle" class="hidden lg:block">
            @if(profile_img){
              <img [src]="profile_img" alt="">
            }@else {
              <i class="pi pi-user" style="font-size: 1.8rem"></i>
            }
        </p-avatar>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="secNav">
  <div class="justify-content-center">
    <div class="grid align-items-center text-lg my-auto">
      <div class="flex col-12 lg:col-6 grid align-items-center justify-content-between xl:justify-content-center"
        style="color: black;">
        <a class="col-6 md:col-4 lg:col-3 xl:col-2" routerLink="/">Home</a>
        <a class="col-5 md:col-4 lg:col-3 xl:col-2" routerLink="/products">Products</a>
        <a class="col-6 md:col-4 lg:col-3 xl:col-2" routerLink="/categories">Categories</a>
        <a class="col-5 md:col-4 lg:col-3 xl:col-2" routerLink="/Brands">Brands</a>
        <div class="col-12 text-center xl:col-3 grid align-items-center" style="margin-top: 8px;">
          <a class="lg:hidden xl:hidden col grid flex-row flex-nowrap align-items-center mx-0"><span>All_Categories</span>
            <div class="col-12 w-6 sm:w-8 lg:w-7 mx-0">
              <p-dropdown class="text-center" [options]="Categories" placeholder="See All" [editable]="true"
                optionLabel="name"></p-dropdown>
            </div>
          </a>
        </div>
      </div>
      <div class="flex grid align-items-center justify-content-center lg:justify-content-end col-12 lg:col-6 grid">
        <p-button routerLink="/cart" class="mr-2" [rounded]="true" [text]="true" icon="pi pi-shopping-cart" severity="secondary"></p-button>
        <p-button routerLink="/wishlist" class="mr-2" [rounded]="true" [text]="true" icon="pi pi-heart" severity="secondary"></p-button>
        <p-button class="mr-5" [rounded]="true" [text]="true" icon="text-xl fa-solid {{classIcon}}" severity="secondary" (click)="changeTheme()"></p-button>
      </div>
    </div>
  </div>
</div>
