<div class="firstNav bg-gray-900">
  <div class="contain">
    <div class="grid align-items-center lg:gap-3">
      <div class="col-3 lg:col-4 grid align-items-center" routerLink="/">
        <img class="col-1 lg:col-3 cursor-pointer" src="../../../assets/ic_logo.png" alt="" style="min-width: 50px;;width: 100px;">
        <h1 class="hidden lg:block lg:col-6 cursor-pointer select-none" style="color: var(--primary-color-text);">InfiniteCart</h1>
      </div>

      <div class="move_icon col-6 lg:col-4 grid mx-auto ">
        <input class="col-11" placeholder="I am Shopping for" type="text" pInputText [(ngModel)]="searchValue" />
        <i style="color: var(--primary-color);" (click)="product_search();search.toggle($event)" class="icon fa-solid fa-magnifying-glass"></i>
        <p-overlayPanel #search class="m-auto ">
          <ng-template pTemplate >
            <div class="flex flex-column gap-6 " style="width: 450px;overflow:hidden;">
              <div>
                <div class="px-2 flex flex-column gap-2">
                  @if (searchProduct.length>0) {
                    @for (product of searchProduct; track product.id; let i = $count) {
                      @if (i < 5) {
                        <a routerLink= "products/{{product.id}}" class="flex gap-1 my-0 p-2"  style="height: 85px;background-color: gainsboro !important;">
                          <div class="w-4 border-round-bottom">
                            <img [src]="product.product.thumbnail" alt="">
                          </div>
                          <div class=" m-0" style="width: 100%;">
                            <p class="font-bold m-1 mx-3" >{{product.product.title}}</p>
                            <p class="m-0 mx-2 text-left" >Sell by <span style="color: green;">{{product.seller.name}}</span></p>
                            <div class="flex m-0 mx-2 mb-2 justify-content-between ">
                              <p class="m-0 p-0" *ngIf="product.discount > 0" style="color: red;"> Discount {{product.discount}}%</p>
                              <p class="m-0 p-0" *ngIf="product.discount== 0"></p>
                              <p class="font-bold m-0 p-0"><span>{{product.price}}</span> $</p>
                            </div>
                          </div>
                        </a>
                      }
                    }
                  }@else {
                    <div>
                      <p>Not Found results</p>
                    </div>
                  }
                </div>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>
      </div>

      <div class="col-2 lg:col-3">
        <a routerLink="/profile" class="grid lg:justify-content-end align-items-center">
          <p class="mr-2 text-xl fw-bold" style="color: var(--primary-color-text);">Hello, {{user.firstName || 'Guest'}}</p>
          <p-avatar size="large" shape="circle" class="hidden lg:block">
            @if(user.image){
              <img [src]="user.image" alt="">
            }@else {
              <i class="pi pi-user" style="font-size: 1.8rem"></i>
            }
        </p-avatar>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="secNav">
  <div class="justify-content-center">
    <div class="grid align-items-center text-lg my-auto">
      <div class="flex col-12 lg:col-6 grid align-items-center justify-content-between xl:justify-content-center"
        style="color: black;">
        <a class="col-6 md:col-4 lg:col-3 xl:col-2" routerLink="/">Home</a>
        <a class="col-5 md:col-4 lg:col-3 xl:col-2" routerLink="/products">Products</a>
        <a class="col-6 md:col-4 lg:col-3 xl:col-2" routerLink="/categories">Categories</a>
        <a class="col-5 md:col-4 lg:col-3 xl:col-2" routerLink="/Brands">Brands</a>
      </div>
      <div class="flex grid align-items-center justify-content-center lg:justify-content-end col-12 lg:col-6 grid">
        <p-button type="text" routerLink="/cart" class="mr-2" [rounded]="true" [text]="true" icon="pi pi-shopping-cart" severity="secondary">
        </p-button>
        <i class="move-dropdown pi pi-chevron-down text-color-secondary  text-xs" (click)="op.toggle($event)" ></i>
        <p-overlayPanel #op>
          <ng-template pTemplate>
            <div class="flex flex-column gap-4 " style="width: 350px;">
              <div>
                <h3 class="mb-0 font-bold" style="color: black !important;">Cart Items</h3>
                <div class="px-2 flex flex-column gap-1">
                  <hr class="w-12">
                  @for (cartItem of cartItems.product; track $index ; let i = $count) {
                    @if ($index <= 3) {
                      <div class="flex gap-5 my-0" style="height: 65px;">
                        <div class="w-3">
                          <img [src]="cartItem.product.thumbnail" alt="">
                        </div>
                        <div class="flex flex-column justify-content-between m-0" style="width: 100%;">
                          <p class="font-bold m-0" style="color: black !important;">{{cartItem.product.title}}</p>
                          <div class="flex m-0 justify-content-between">
                            <p>{{cartItem.quentity}} Items</p>
                            <p>{{cartItem.price}} $</p>
                          </div>
                        </div>
                      </div>
                    }

                }
                </div>
              </div>
              <div>
                <div>
                  <div class="flex justify-content-between mx-2 my-2">
                    <p class="font-2xl">SubTotal</p>
                    <p class="font-bold font-2xl text-color">{{getTotal()}} $</p>
                  </div>
                  <div class="flex gap-2 justify-content-evenly mt-2">
                    <button pButton routerLink="/cart" type="button" class="p-button-rounded px-5 font-bold">View Cart</button>
                    <button pButton type="button" style="background-color: black; border-color: black;" class="p-button-raised p-button-rounded px-5 font-bold">Checkout</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-overlayPanel>

        <p-button routerLink="/wishlist" class="mr-2" [rounded]="true" [text]="true" icon="pi pi-heart" severity="secondary"></p-button>
        <p-button class="mr-5" [rounded]="true" [text]="true" icon="text-xl fa-solid {{classIcon}}" severity="secondary" (click)="changeTheme()"></p-button>
      </div>
    </div>
  </div>
</div>
