
    <div class="md:col-8 sm:col-12 mx-auto">
        <p-card [header]="item.name" [style]="{ width: '40rem', margin:'2rem auto'  }">
            
            <img [src]="item.img" alt="img here" style="width: 7rem; height:  7rem;" >
            <div class="mt-2 mb-5">
                <p-rating [(ngModel)]="item.rating" [readonly]="true" [cancel]="false" [style]=""></p-rating>
            </div>
            <hr>
            <div class="sm:col-12 grid justify-content-between">
                <div>Price</div>
                <div>Quantity</div>
                <div>Total</div>
            </div>

            <div class="sm:col-12 grid justify-content-between">
                <div>
                <span style="text-decoration:line-through; color: #999;">${{item.price}}</span>
                <span>${{item.price}}</span>
                </div>
                <div class="mr-5">
                    <p-badge [value]="item.quantity.toString()" severity="warning" ></p-badge>
                </div>
                <div>${{item.total}}</div>
            </div>            
        </p-card>

        
    </div>

    <div class="md:col-4 sm:col-8 mx-auto">
        <p-card [header]="order.id.toString()"  [style]="{ margin:'2rem auto'  }">
            <hr>
            <div class="flex space-between">
                <div class="">Sub Total: </div>
                <div class="ml-8">$ {{order.subTotal}}</div>                
            </div>
            <hr>
            <div class="flex space-between">
                <div class="">Discount: </div>
                <div class="ml-8">- $ {{order.discount}}</div>                
            </div>
            <hr>
            <div class="flex space-between;">
                <div class="">Total: </div>
                <div class="ml-8">$ {{order.subTotal}}</div>                
            </div>
            <p-button 
                        styleClass="bg-primary border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer
                        transition-all transition-duration-200 hover:bg-primary-800 hover:border-primary-200 active:bg-primary-700 active:border-primary-700 mt-4 mx-auto" label="Confirm"
                        ></p-button>

        </p-card>
    </div>


      
    
