.contSideCard {
  width: 50rem !important;
}
.productImg{
  max-height: 30rem;
  max-width: 40rem;
  border-radius: 25px;
}
.productBrandImg{
  max-height: 2rem;
  max-width: 6rem;
}

.sellerCard{
  width: 80rem;
}

.p-card .p-card-content {
  padding: 0rem !important;
}

.sameSeller {
  box-shadow: 0px 0px 11px 0px #4678cdd4;
}
