.filter-label span{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.filter input{
  border-style: none;
  outline: none;
}
a{
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-card{
  min-height: 200px;
  max-height: 200px;
}
