<div class="w-11 m-auto">
<!--Container For All-->
 <div class="container mt-3 mb-3 grid col-12">
  <!--Container For Filter-->
  <div class="filter xl:col-2 lg:col-3 md:col-3 sm:col-12 col-12">
    <div class="card flex justify-content-center">
      <!--Using Accordion Component For Filter-->
       <p-accordion [activeIndex]="0">
         <p-accordionTab header="Filter">
          <!--Filter For Price-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Price">
              <input class="w-3 border-300 border-solid border-1 mt-3 mb-3" [(ngModel)]="priceRange1" type="text">
              <span class="p-2 text-300">To</span>
              <input class="w-3 border-300 border-solid border-1" [(ngModel)]="priceRange2" type="text">
              <input class="cursor-pointer bg-white text-300" type="button" value="Go" (click)="filterForPrice()">
            </p-accordionTab>
          </p-accordion>
          <!--Filter For Sellers-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Sellers">
              <input class="text-center border-round h-2rem w-11 border-300 border-solid border-1 mt-3 mb-3" placeholder="Enter a seller" [(ngModel)]="seller" type="text">
              <input class="cursor-pointer border-1 surface-border border-solid border-round bg-blue-50 text-600" type="button" value="Go" (click)="filterForSeller()">
            </p-accordionTab>
          </p-accordion>
          <!--Filter For Brands-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Brands">
              <input class="text-center border-round h-2rem w-11 border-300 border-solid border-1 mt-3 mb-3" placeholder="Enter a Brand" [(ngModel)]="brand" type="text">
              <input class="cursor-pointer border-1 surface-border border-solid border-round bg-blue-50 text-600" type="button" value="Go" (click)="filterForBrand()">
            </p-accordionTab>
          </p-accordion>
          <!--Filter For Categories-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Categories">
              <input class="text-center border-round h-2rem w-11 border-300 border-solid border-1 mt-3 mb-3" placeholder="Enter a Category" [(ngModel)]="category" type="text">
              <input class="cursor-pointer border-1 surface-border border-solid border-round bg-blue-50 text-600" type="button" value="Go" (click)="filterForCategory()">
            </p-accordionTab>
          </p-accordion>
      </p-accordionTab>
  </p-accordion>
</div>
  </div>
  <!--Cards Container-->
  <div class="cards  xl:col-10 lg:col-9 md:col-9 sm:col-12 col-12">
    <div class="card flex justify-content-center">
      <p-dropdown [options]="sorted" [(ngModel)]="selectedSort" optionLabel="SORT" [showClear]="true" placeholder="SORT BY"  (ngModelChange)="onSortChange()"></p-dropdown>
    </div>
    <div class="flex flex-wrap gap-3 lg:gap-7 md:gap-3  xl:gap-3 xl:justify-content-start lg:justify-content-start md:justify-content-center sm:justify-content-center justify-content-center">
      <!--Select Products Data To Display In Card-->
      @for(product of products; track product.id){
        <app-cards [productData]="product"></app-cards>
      }
    </div>
  </div>
 </div>
</div>
