<div class="w-11 m-auto">
<!--Container For All-->
 <div class="container mt-3 mb-3 grid col-12">
  <!--Container For Filter-->
  <div class="filter xl:col-2 lg:col-3 md:col-3 sm:col-12 col-12">
    <div class="card flex justify-content-center">
      <!--Using Accordion Component For Filter-->
       <p-accordion [activeIndex]="0">
         <p-accordionTab header="Filter">
          <!--Filter For Price-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Price">
              <div class="text-center">
                <input pInputText class="w-9 border-300 border-solid border-1 mt-3 mb-3" [(ngModel)]="priceMin" type="text">
                <p class="p-2 text-300">To</p>
                <input pInputText class="w-9 border-300 border-solid border-1" [(ngModel)]="priceMax" type="text">
              </div>
            </p-accordionTab>
          </p-accordion>
          <!--Filter For Sellers-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Sellers">
              <input pInputText class="text-center border-round h-2rem w-12 border-300 border-solid border-1 mt-3 mb-2" placeholder="Enter Seller" [(ngModel)]="seller" type="text">
            </p-accordionTab>
          </p-accordion>
          <!--Filter For Brands-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Brands">
              <input pInputText class="text-center border-round h-2rem w-12 border-300 border-solid border-1 mt-3 mb-2" placeholder="Enter Brand" [(ngModel)]="brand" type="text">
            </p-accordionTab>
          </p-accordion>
          <!--Filter For Categories-->
          <p-accordion [activeIndex]="0">
            <p-accordionTab header="Categories">
              <input pInputText class="text-center border-round h-2rem w-12 border-300 border-solid border-1 mt-3 mb-2" placeholder="Enter Category" [(ngModel)]="category" type="text">
            </p-accordionTab>
          </p-accordion>
          <div class="flex justify-content-center pt-3">
            <p-button class="p-0" (onClick)="filterProducts()">
              <i class="pi pi-search px-1"></i>
              <span class="px-4"><b>Filter</b></span>
          </p-button>
          </div>
      </p-accordionTab>
  </p-accordion>
</div>
  </div>
  <!--Cards Container-->
  <div class="cards xl:col-10 lg:col-9 md:col-9 sm:col-12 col-12">
    <!--Drop down List help to Sort Products-->
    <div class="card flex Xl:justify-content-end lg:justify-content-end md:justify-content-end sm:justify-content-center justify-content-center">
      <p-dropdown [options]="sorted" [(ngModel)]="selectedSort" placeholder="SORT BY" [editable]="false" optionLabel="SORT" (ngModelChange)="onSortChange()"></p-dropdown>
    </div>
    <div class="flex flex-wrap gap-3 lg:gap-7 md:gap-3  xl:gap-3 xl:justify-content-start lg:justify-content-start md:justify-content-center sm:justify-content-center justify-content-center">
      <!--Select Products Data To Display In Card-->
      @for(product of products; track product.id){
        <app-cards [productData]="product"></app-cards>
      }
    </div>
    <div class="card flex justify-content-center mt-4">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="start" [rows]="limit" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>
  </div>
 </div>
</div>
