<div class="card">
  <p-menubar [model]="items"></p-menubar>
</div>

<div class="card flex flex-column md:flex-row gap-3  m-5">
  <p-inputGroup>
      <p-inputGroupAddon>
          <i class="pi pi-user"></i>
      </p-inputGroupAddon>
      <input pInputText placeholder="Username" />
  </p-inputGroup>
  <p-inputGroup>
      <p-inputGroupAddon>$</p-inputGroupAddon>
      <input type="text" pInputText placeholder="Price" />
      <p-inputGroupAddon>.00</p-inputGroupAddon>
  </p-inputGroup>
  <p-inputGroup>
      <p-inputGroupAddon>www</p-inputGroupAddon>
      <input type="text" pInputText placeholder="Website" />
  </p-inputGroup>
</div>

<div class="card flex justify-content-center mb-5">
  <p-button pRipple label="Submit"></p-button>
</div>

<div pRipple class="card flex justify-content-center">
  <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
      </ng-template>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
          quas!
      </p>
      <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
  </p-card>
</div>
