.more_style {
    background: url(https://i.imgur.com/a76UDqJ.jpg) no-repeat top center;
    /* background-size: 100% 100%; */
    background-size: 100% 100%;
    width: 100% !important;
    border-bottom: 1px solid #e1e1e1;

    /* margin-top: 5rem; */
    padding: 5rem;
    z-index: -100;
    box-shadow: 4px 5px 6px #c9c9ca;
}

.skewing {
    -webkit-transform: skewY(356deg);
}