.more_style {
    background-image: linear-gradient( rgb(11 15 53), rgb(43 136 255 / 25%) ),url(https://i.imgur.com/gqSrSWq.jpg);
    background-size: cover;
    width: 100% !important;

    /* margin-top: 5rem; */
    padding: 5rem;
    z-index: -100;
}

.skewing {
    -webkit-transform: skewY(356deg);
}

hr {
    border: none;
    height: 20px;
    width: 80%;
    height: 50px;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 15px 15px -20px #333;
}
.myShadow{
  filter: drop-shadow(2px 4px 14px rgba(0,0,0,0.3));
}
