.heading{
  font-size: 100px;
  letter-spacing: -3px;
}

ul{
  list-style: none;
}

.mission p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.more_style {
  background-image: linear-gradient( rgb(11 15 53), rgb(43 136 255 / 25%) ),url(https://i.imgur.com/gqSrSWq.jpg);
  background-size: cover;
  width: 100% !important;
  padding: 5rem;
  z-index: -100;
}

.myShadow{
  filter: drop-shadow(2px 4px 14px rgba(0,0,0,0.3));
}