<div class="container grid">
  <div class="heading col-12">
    <h2 class="heading xl:text-8xl lg:xl:text-8xl text-5xl text-200 text-center font-bold m-0">About Us</h2>
  </div>
  <div class="col-12 flex xl:flex-row lg:flex-row flex-column">
    <!--Images-->
    <div class="images relative xl:col-6 lg:col-6 col-12">
      <ul class="flex flex-wrap justify-content-center xl:justify-content-start lg:justify-content-start">
        <li class="inline-flex m-2 col-5 sm:col-5 lg:col-5 xl:col-5">
          <img class="max-w-full h-auto vertical-align-middle border-round-bottom-3xl border-round-right-3xl mt-auto ml-auto" src="../../../assets/aboutus2.jpg" width="280px" height="300px">
        </li>
        <li class="inline-flex m-2 col-5 sm:col-5 lg:col-5 xl:col-5">
          <img class="max-w-full h-auto vertical-align-middle border-round-bottom-3xl border-round-left-3xl" src="../../../assets/about us.jpg" width="340px" height="350px">
        </li>
        <li class="inline-flex m-2 col-5 sm:col-5 lg:col-5 xl:col-5">
          <img class="max-w-full h-auto vertical-align-middle border-round-top-3xl border-round-right-3xl ml-auto" src="../../../assets/aboutus.jpg" width="200px" height="200px">
        </li>
        <li class="inline-flex m-2 col-5 sm:col-5 lg:col-5 xl:col-5">
          <img class="max-w-full h-auto vertical-align-middle border-round-top-3xl border-round-left-3xl" src="../../../assets/aboutus3.jpg" width="250px" height="250px">
        </li>
      </ul>
    </div>
    <div class="col-6 align-self-center xl:align-self-start lg:align-self-start">
      <div class="mission">
        <h3 class="xl:text-5xl lg:text-5xl text-3xl text-blue-900">Welcome to Infinite Cart</h3>
        <p class="text-600">Infinite Cart is your destination for a diverse array of high-quality products. Our mission is to provide a
          seamless shopping experience across various categories, offering something for everyone.</p>
      </div>
      <div class="flex gap-3 flex-wrap">
        <div class="border-solid border-1 border-primary border-round-lg bg-white p-2">
          <i class="pi pi-phone text-orange-400"></i>
          <span class="inline-block ml-2 text-blue-900 font-bold">Wide Product Selection</span>
        </div>
        <div class="border-solid border-1 border-primary border-round-lg bg-white p-2">
          <i class="pi pi-shopping-cart text-orange-400"></i>
          <span class="inline-block ml-2 text-blue-900 font-bold">Exceptional Customer Support</span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <h2 class="heading text-200 text-center font-bold m-0">About Us</h2>
  <p class="text-center text-300">Welcome to Infinite Cart</p>
  <div class="about-content flex justify-content-around xl:flex-row lg:flex-row md:flex-column flex-column">
    <div class="image m-6">
      <img class="border-round" src="../../../assets/about us.jpg">
    </div>
    <div class="text vertical-align-middle">
      <p>Infinite Cart is your destination for a diverse array of high-quality products. Our mission is to provide a
        seamless shopping experience across various categories, offering something for everyone.</p>
    </div>
  </div>
</div> -->


<!-- <li class="col-5 sm:col-5 lg:col4 xl:col-4">
  <img class="max-w-full h-auto vertical-align-middle border-round-bottom-3xl border-round-right-3xl mt-auto ml-auto" src="../../../assets/aboutus2.jpg" width="280px" height="300px">
</li>
<li class="col-5 sm:col-5 lg:col4 xl:col-4">
  <img class="max-w-full h-auto vertical-align-middle border-round-bottom-3xl border-round-left-3xl" src="../../../assets/about us.jpg" width="340px" height="350px">
</li>
<li class="col-5 sm:col-5 lg:col4 xl:col-4">
  <img class="max-w-full h-auto vertical-align-middle border-round-top-3xl border-round-right-3xl ml-auto" src="../../../assets/aboutus.jpg" width="200px" height="200px">
</li>
<li class="col-5 sm:col-5 lg:col4 xl:col-4">
  <img class="max-w-full h-auto vertical-align-middle border-round-top-3xl border-round-left-3xl" src="../../../assets/aboutus3.jpg" width="250px" height="250px">
</li> -->
