.heading{
  font-size: 100px;
  letter-spacing: -3px;
}

ul{
  list-style: none;
}

.mission p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.more_style {
  background-image: linear-gradient( rgb(11 15 53), rgb(43 136 255 / 25%) ), url(https://i.imgur.com/gqSrSWq.jpg);
  background-size: cover;
  width: 100% !important;
  padding: 5rem;
  z-index: -100;
}

.myShadow{
  filter: drop-shadow(2px 4px 14px rgba(0,0,0,0.3));
}

hr {
  border: none;
  height: 20px;
  width: 80%;
  height: 50px;
  border-bottom: 1px solid #1f1209;
  box-shadow: 0 15px 15px -20px #333;
}

.memberCard {
  width: 280px;
  height: 460px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  transition: transform 330ms ease-in-out;
}

.memberCard:hover {
	transform: translateY(-20px);
}

.memberImg {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}