/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "primeflex/primeflex.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root, html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  background: var(--surface-c);
  scroll-behavior: smooth;
}

.p-card .p-card-content {
  padding: 0rem !important;
}
