/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.min.css";

html,
body {
  height: 100%;
  margin: 0;
}
:root
{
  --sec : #997DF2;
  --BACKGROUND : #f5f5f5;
  --primary-gradient : #2071F8;
  --primary : #3454F5;
  --color:white;
}

a
{
  text-decoration: none;
  color: black !important;
}


