<div class="flex flex-wrap gap-3 lg:gap-7 md:gap-3  xl:gap-3 xl:justify-content-start lg:justify-content-start md:justify-content-center sm:justify-content-center justify-content-center">
  <!--Select Products Data To Display In Card-->
  <div class=" cards mt-3">
    <!--Card Component-->
    <div class="card flex justify-content-center ">
      <p-card [style]="{ width: '270px'}">
         <!--Card Header Image-->
          <ng-template pTemplate="header">
              <img class="img-card" alt="Card" src="{{productData.product.images[0]}}" routerLink="/products/{{productData.id}}" />
          </ng-template>
          <!--Display Details like price, Seller Data and Rating-->
          <div class="details-card">
                <div class="cardheader text-600 font-bold text-2xl">{{productData.product.title}}</div>
                <div class="description overflow-hidden text-500">{{productData.product.description}}</div>
                <span>{{productData.price | currency}}</span>
                <div class="card flex justify-content-strat">
                  <p-rating [(ngModel)]="productData.rating" [readonly]="true" [cancel]="false"></p-rating>
                </div>
                    <div class="seller-Data">
                      <img src="{{productData.seller.image}}" width="40px" height="40px" class="border-circle vertical-align-middle">
                      <span class="inline-block pl-3">{{productData.seller.name}}</span>
                    </div>
          </div>
          <!--Footer For The Card-->
          <ng-template pTemplate="footer">
              <p-button label="Add To Cart" icon="pi pi-cart-plus"></p-button>
          </ng-template>
      </p-card>
    </div>
  </div>
</div>
